{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "parser": "@babel/eslint-parser"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "semi": [2, "never"],
    "no-unused-vars": 1
  }
}